accelerate
deepspeed
diffusers
diso
einops
flash-attn==2.7.3
ftfy
numpy
omegaconf
opencv-python
packaging
pandas
point-cloud-utils
psutil
PyMCubes
pyyaml
regex
scikit-image
tensorboard
torch==2.6.0
torchaudio==2.6.0
torchdiffeq
torchvision==0.21.0
tqdm
transformers
trimesh
typing_extensions
wandb
torch-cluster
git+https://github.com/openai/CLIP.git
